
.popular-repos-container {
  padding: 3em;
  color: white;

  ul {
    list-style-type: none;
    margin-top: 1em;
  }

  .grid-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 120px);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }

  .title-content {
    display: flex;
    place-items: center start;
    justify-content: space-between;

    .text-content {
      .error-message {
        color: red;
        margin-left: 2em;
      }
    }

    .rows-container {
      display: flex;

      .selected {
        background: #000000;
        -moz-border-radius: 70px;
        -webkit-border-radius: 70px;
        border-radius: 70px;
        padding: 10px;
      }

      .not-selected {
        background: #333333;
        -moz-border-radius: 70px;
        -webkit-border-radius: 70px;
        border-radius: 70px;
        padding: 10px;
      }

      #image {
        margin-right: 1em;
        width: 1.2em;
        height: 1.2em;
      }
    }

  }

  .loading-container {
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-items: center;
    justify-content: center;
    place-items: center;
  }
}
