.repo-container {
  margin: 1em;

  .paper {
    padding: 1em;

    .language-container {
      display: flex;
      margin-top: 1em;
      justify-content: space-between;
      justify-items: center;
      place-items: center center;

      .content {
        display: flex;
        margin-top: 1em;
        justify-content: space-between;
        justify-items: center;
        place-items: center center;

        .color {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin-right: 0.5em;
        }
      }

      .watchers {
        display: flex;
        margin-top: 1em;
        justify-content: space-between;
        justify-items: center;
        place-items: center center;

        .icon {
          height: 1em;
          width: 1em;
          margin-right: 0.5em;
        }
      }
    }

    .owner-section {
      display: flex;
      justify-content: space-between;
      justify-items: center;
      place-items: center center;
      padding-bottom: 1em;

      a {
        color: white;
        text-decoration: none;
      }

      p {
        max-width: 100%;
        width: 100%;
      }

      .content {
        display: flex;
        justify-content: space-between;
        justify-items: center;
        place-items: center center;

        .owner-image {
          width: 3em;
          height: 3em;
          object-fit: contain;
          border-radius: 50%;
          border-width: 1px;
          border-color: blue;
        }

        #text {
          margin-left: 0.5em;

        }
      }
    }
  }
}
